#game #game #editor {
  color: maroon;
}

/* Status Bar */

#game .status-bar {
  position: fixed;
  font-size: large;
  font-family: monospace;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 18px 16px;
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  z-index: 1000;
  transition: opacity 0.3s ease-out;
}

#game .status-bar.fade-out {
  opacity: 0;
}
